* {
    
    margin: 6px;
    font-family: "Poppins", sans-serif;
    
}

img {

    width: 30vh;
    max-width: auto;
    object-fit: cover;
    border-radius: 6px;

}

a {
    text-decoration: none;
    color: inherit;
}

:root {

    /* TONOS */

    --tono: 330;
    --complemento: 190;

    /* COLORES */
    
    --color-primario: hsla(var(--tono), 100%, 50%, 1);
    --color-primario-medio: hsla(var(--tono), 100%, 75%, 1);
    --color-primario-claro: hsla(var(--tono), 100%, 95%, 1);
    --color-primario-oscuro: hsla(var(--tono), 100%, 15%, 1);
    --color-primario-oscuro-medio: hsla(var(--tono), 100%, 25%, 1);

    --color-secundario: hsla(var(--complemento), 100%, 30%, 1); 

}

/* Estilo de celular */

@media screen and (min-width: 0px) {
    
    .titular {
    
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        background-color: hsla(var(--tono), 100%, 50%, 1);
        border-radius: 8px;
        font-size: 12px;
    
    }
    
    
    .navbar {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: hsla(var(--tono), 100%, 15%, 1);
        border-radius: 8px;
        font-size: 12px;
        margin-bottom: 1px;
        padding-bottom: 1px;
        border-bottom: 1px solid var(#FF0080);
    }
    
    .navbar__nav {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: none;
        color: white;
        font-size: 12px;
        padding: 10px;
        gap: 20px;
        transition: transform 0.3s, color 0.3s;
    }
    
    .navbar__ul {
    
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: none;
        color: white;
        padding: 5px;
        font-size: 16px;
        gap: 10px;
        transition: transform 0.3s, color 0.3s;
    
    }
    
    .casillas {
    
        display: flex;
        padding: 0%;
        margin: 0px;
        
    }

    


    .derechos {

        width: auto;
        margin: 0px;
        font-size: 8px;
        text-align: center;
        background-color: black;
        color: white;
    }
}

/* Estilo de Tablet */

@media screen and (min-width: 767px) {
    
    .titular {
    
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: hsla(var(--tono), 100%, 50%, 1);
        color: white;
        border-radius: 8px;
        font-size: 12px;
    
    }
    
    .navbar {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: hsla(var(--tono), 100%, 15%, 1);
        border-radius: 8px;
        font-size: 12px;
        margin-bottom: 1px;
        padding-bottom: 1px;
        border-bottom: 1px solid var(#FF0080);
    }
    
    .navbar__nav {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: none;
        color: white;
        font-size: 12px;
        padding: 10px;
        gap: 20px;
        transition: transform 0.3s, color 0.3s;
    }
    
    .navbar__ul {
    
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        display: flex;
        background-color: none;
        color: white;
        padding: 5px;
        font-size: 16px;
        gap: 20px;
        transition: transform 0.3s, color 0.3s;
    
    }
    

    .derechos {

        font-size: 8px;
        text-align: center;
        background-color: black;
        color: white;
    }
}



/* Estilo Escritorio */

@media screen and (min-width: 1024px) {
    
    .titular {

        display: flex;
        justify-content: center;  
        align-items: center;      
        width: auto; 
        padding: 5px;
        
    
    }

    .navbar {

        display: flex;
        width: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    .navbar__nav {

        padding-left: 16px;
        font-size: 20px;
        transition: transform 0.3s, color 0.3s;

    }

    .navbar__ul {

        text-decoration: none;
        padding-right: 16px;
        font-size: 22px;
        transition: transform 0.3s, color 0.3s;
    }

}

